<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456175535533-9tj2td4hveodbar3jcclbkoj9abuql63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456175535533-9tj2td4hveodbar3jcclbkoj9abuql63</string>
	<key>API_KEY</key>
	<string>AIzaSyBj2pHVy5jVcjkT9q8Pz0FvB5cVII-g3hw</string>
	<key>GCM_SENDER_ID</key>
	<string>456175535533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kokichujo.BookListApp</string>
	<key>PROJECT_ID</key>
	<string>booklistapp-ed6d6</string>
	<key>STORAGE_BUCKET</key>
	<string>booklistapp-ed6d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456175535533:ios:7122528c6263f46c248d24</string>
	<key>DATABASE_URL</key>
	<string>https://booklistapp-ed6d6.firebaseio.com</string>
</dict>
</plist>